PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@brainmint-cluster.wbhohty.mongodb.net/brainmint?retryWrites=true&w=majority&appName=brainmint-cluster

JWT_SECRET=your_jwt_secret

BREVO_API_KEY=xkeysib-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BREVO_SENDER_EMAIL=yourgmail@gmail.com
BREVO_SENDER_NAME="Princess Size Plus Collection"

CLIENT_URL=http://localhost:3000

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

NODE_ENV=production

ADMIN_NAME=Frontend Test Admin
ADMIN_EMAIL=admin.testing@example.com
ADMIN_PHONE=9999999999
ADMIN_PASSWORD=change-this-password
